include LICENCE_GPLv3.txt
include README.txt
include demo/*
include docs/*
include tests/*
include tests/sbml_test_suite/*
include src/*.py
include src/models/*.xml
include src/nosetests/*
include src/fluxmodules/*.py
include pyscescbm/*.py
include pyscescbm/models/*
include pyscescbm/fluxmodules/*
include pyscescbm/solver/*
